<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mybatisdemo.dao.test.StudentMapper">
  <resultMap id="BaseResultMap" type="com.springboot.mybatisdemo.entity.test.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, age, city, mobile_phone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>

<!--  parameterType 可以省略-->
<!--  方法的结果可以定义 Integer Long Boolen 基本类型活活包装类型返回值，这边不用写-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
<!--  keyProperty useGeneratedKeys 获取到自增主键-->
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.springboot.mybatisdemo.entity.test.Student" useGeneratedKeys="true">
    insert into student (name, age, city,
      mobile_phone)
    values (#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR},
      #{mobilePhone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.springboot.mybatisdemo.entity.test.Student" useGeneratedKeys="true">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="mobilePhone != null">
        mobile_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.mybatisdemo.entity.test.Student">
    update student
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.mybatisdemo.entity.test.Student">
    update student
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByName" resultType="com.springboot.mybatisdemo.entity.test.Student">
    select * from student where name = #{name,jdbcType=VARCHAR}
  </select>


</mapper>